.header {
    background-color: bisque;
    display: flex;
    height: 30px;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 25px;
}

.lists {
    display: flex;
    justify-content: space-around;
}

.items-list {
    display: flex;
}

h3 {
    text-transform: capitalize;
}

.g-signin {
    color: blue;
}