<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>

<body>
    <header class="header">
        Catalog App
    </header>
    <section class="lists">
        <div class="categories-list">
            <h3>CATEGORIES</h3>
            {% for i in categories %}
            <a href="{{url_for('categoryItems', category_name = i.name)}}">
                <p>{{i.name}}</p>
            </a>
            {% endfor %}
        </div>
        <div>
            <a href="{{url_for('newItem') }}">Add new item</a>
            <h3>LATEST ITEMS</h3>

            {% set sort_on = request.args.sort_on|default('id') %} {% for i in items|sort(attribute=sort_on, reverse = True) %}
            <div class="items-list">
                <a href="{{url_for('showItem', category_name = i.category_name, item_title=i.title)}}">
                    <p>{{i.title}}</p>
                </a>
                <p>({{i.category_name}})</p>
            </div>
            {% endfor %}
        </div>
    </section>

</body>

</html>