{% extends "main.html" %} {% block content %}
<h1> New Item </h1>

<form action="{{url_for('newItem')}}" method='POST'>
    <p>Title:</p>
    <input type='text' size='30' name='title' required>
    <p>Description:</p>
    <textarea name="description" id="description" cols="30" rows="10" required></textarea>
    <p>Category:</p>
    <select name='category_name' required>
        <option value="">Please select</option>
        <option value="Soccer">Soccer</option>
        <option value="Baseball">Baseball</option>
        <option value="Basketball">Basketball</option>
        <option value="Frisbee">Frisbee</option>
        <option value="Snowboarding">Snowboarding</option>
        <option value="Rock Climbing">Rock Climbing</option>
        <option value="Foosball">Foosball</option>
        <option value="Skating">Skating</option>
        <option value="Hockey">Hockey</option>
    </select>
    </br>
    </br>
    <input type='submit' value='Create'>
</form>
{% endblock %}